extends layout

block content
  div.content
    div.row1
      h1 欢迎来到MicroBlog
      h5 基于nodejs的简易微博系统
      button.login
        a(href="/login") 登录
      button.reg 
        a(href="/reg") 立即注册
    div.row2
        div
          h3 数据结构
          p 数据结构（英语：data structure）是计算机中存储、组织数据的方式。 数据结构意味着介面或封装：一个数据结构可被视为两个函数之间的介面，或者是由数据类型联合组成的存储内容的访问方法封装。
        div
          h3 编译原理
          p 编译原理是计算机专业的一门重要专业课，旨在介绍编译程序构造的一般原理和基本方法。内容包括语言和文法、词法分析、语法分析、语法制导翻译、中间代码生成、存储管理、代码优化和目标代码生成。 编译原理是计算机专业设置的一门重要的专业课程。虽然只有少数人从事编译方面的工作，但是这门课在理论、技术、方法上都对学生提供了系统而有效的训练，有利于提高软件人员的素质和能力。
        div 
          h3 操作系统
          p 《操作系统原理》是针对计算机科学技术专业三年级本科生开设的一门专业基础课程。本课程着重学生系统观的培养，通过重点讲述操作系统的内部结构、工作原理及典型技术的实现，使学生建立起对操作系统的整体及各个功能模块的认识，从而系统掌握计算机的专业知识，进一步提升学生的软件开发能力乃至系统软件开发能力。

