doctype html
html
  head
    title= title + " MicroBlog"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      ul.nav-list
        li.logo
          a(href="/") MicroBlog
        li.item
          a(href="/") 首页
        li.login
          a(href="/login") 登入
        li.logout
          a(href="/logout") 登出
    block content
    div.footer
      span.footer-text @zhiguangchen
    script(src="/javascripts/jquery-3.2.1.js")
